* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("./images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-background-in-body {
  width: 95%;
  height: 90%;
  border-radius: 33px;
  background-color: rgba(5, 5, 5, 0.66);
  box-shadow: 0 0 14px 1px rgba(223, 244, 132, 0.923);
  display: grid;
  grid-template-rows: 15% 25% 20% 20% 20%;
  grid-template-columns: 40% 5% 55%;
  overflow: hidden;
}
.grid-profile {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-nav-bar {
  grid-column: 2/4;
  grid-row: 1/2;
}
.grid-welcome {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-name {
  grid-column: 1/3;
  grid-row: 3/4;
}
.grid-contact {
  grid-row: 4/5;
  grid-column: 1/3;
}
.grid-more-contact {
  grid-row: 5/6;
  grid-column: 1/3;
}
.grid-portfolio {
  grid-column: 2/4;
  grid-row: 2/6;
  margin-left: 70px;
}

/*Profile Section*/
.grid-profile .box-images {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(142, 142, 142, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile {
  width: 93%;
  height: 93%;
}

/*Navigation Section*/
.nav-bar {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Crete Round", serif;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 3%;
}

.nav-bar-rec {
  width: 20%;
  padding: 0.5% 1%;
  background-color: rgba(151, 151, 151, 0.38);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1%;
  border-style: solid;
  border-color: black;
  text-decoration: none;
  color: rgba(83, 190, 178, 1);
  transition: 100ms ease-in-out;
  border-color: rgba(245, 253, 15, 0.486);
}
.nav-bar-rec:hover {
  background-color: rgba(151, 151, 151, 0.7);
  cursor: pointer;
  color: rgb(255, 255, 255);
  scale: 1.1;
  border-color: rgb(245, 253, 15);
}
.nav-port {
  background-color: rgba(151, 151, 151, 0.7);
  color: rgb(255, 255, 255);
}
.nav-bar-rec i {
  color: rgba(83, 190, 178, 1);
}
.nav-bar-rec:hover i {
  color: rgb(255, 255, 255);
}

/*Welcome Section*/
.grid-welcome p {
  color: rgba(83, 190, 178, 1);
  font-family: "Ewert", serif;
  font-size: 55px;
  text-shadow: 3px 5px rgba(255, 0, 21, 0.336);
}

/*Name Section*/
.grid-name {
  margin: 0 0 0 125px;
}
.grid-name .name-box h1 {
  font-family: "Inter", sans-serif;
  font-size: 45px;
  color: rgba(83, 190, 178, 1);
  margin: 10px 0 0 55px;
}
.grid-name .name-box p {
  color: rgba(83, 190, 178, 1);
  font-family: "Crete Round", serif;
  font-size: 25px;
  margin: 0 0 0 55px;
}

/*Button Contact Section*/
#btn-contact {
  width: 35%;
  height: 36%;
  border-radius: 50px;
  background-color: rgba(83, 190, 178, 1);
  border-style: none;
  margin: 15px 0 0 175px;
  cursor: pointer;
  transition: 100ms ease-in-out;
  opacity: 0.6;
}
#btn-contact:hover {
  scale: 1.1;
  opacity: 0.9;
}
#btn-contact a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn-contact #img-contact {
  width: 21%;
  height: 98%;
}
#btn-contact p {
  font-size: 25px;
  font-weight: 600;
  margin-left: 10px;
  color: rgba(243, 243, 243, 1);
}

/*For More Contact Section*/
.grid-more-contact h2 {
  color: rgba(83, 190, 178, 1);
  font-family: "Inter", sans-serif;
  margin: 5px 0 0 135px;
  font-size: 35px;
}
.more-contact {
  width: 100%;
  height: 55%;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 15%;
  margin-top: 3%;
  list-style-type: none;
}
.more-contact .img-more-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8%;
  outline-style: solid;
  outline-color: rgba(245, 253, 15, 0.7);
  opacity: 0.7;
  animation-name: upDownLoop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes upDownLoop {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(10px);
  }
  100% {
    transform: translatex(0px);
  }
}
.more-contact .img-more-logo:hover {
  cursor: pointer;
  scale: 1.1;
  opacity: 1;
  outline-color: rgba(245, 253, 15);
}
.more-contact .img-more-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Portfolio Section*/
.grid-portfolio .portfolio-desc {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style-type: none;
  color: rgba(83, 190, 178, 1);
  display: flex;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  border-style: none none solid none;
}
.grid-portfolio .portfolio-desc li {
  margin-right: 18px;
  padding: 5px 10px;
  border-style: solid solid none solid;
  border-radius: 10px 10px 0 0;
}
.grid-portfolio .portfolio-desc li:hover {
  cursor: pointer;
}
.portfolio-body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.portfolio-body i {
  font-size: 60px;
  color: rgb(8, 132, 117);
}
.portfolio-body i:hover {
  cursor: pointer;
}
.portfolio-project {
  width: 100%;
  height: 88%;
  position: absolute;
  top: 20px;
  list-style-type: none;
  /*Will Deleted*/
  display: flex;
  flex-wrap: wrap;
  row-gap: 1%;
  justify-content: space-between;
  padding: 10px 10px;
  box-shadow: 0 0 9px grey;
  border-radius: 30px;
  overflow: hidden;
}
.portfolio-project li {
  width: 32.5%;
  height: 48%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.432);
  transition: 0.3s;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}
.portfolio-project li:hover {
  transform: scale(1.1);
}
.portfolio-project li img {
  width: 100%;
  height: 80%;
  background-color: aquamarine;
}
.portfolio-project li p {
  width: 100%;
  height: 19.5%;
  margin: 0;
  font-family: "inter", serif;
  padding-left: 5px;
  color: rgba(243, 243, 243, 1);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-video {
  position: fixed;
  z-index: 1;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background-color: aliceblue;
  overflow: hidden;
  display: none;
}
.projects-video .videos-list {
  width: 100%;
  height: 100%;
}
.projects-video .videos-list video {
  width: 100%;
  height: 100%;
}
.projects-video #btn-close {
  position: fixed;
  z-index: 2;
  font-size: 40px;
  top: 10px;
  right: 15px;
  opacity: 0.5;
}
.projects-video #btn-close:hover {
  cursor: pointer;
  opacity: 1;
}
/*Responsive for Mobile*/
@media (max-width: 768px) {
  .grid-background-in-body {
    grid-template-rows: 10% 25% 20% 28% 22%;
    grid-template-columns: 40% 5% 55%;
  }
  /*Navigation Section*/
  .grid-nav-bar {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .nav-bar {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "Crete Round", serif;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    margin-top: 2%;
  }
  /*Profile Section*/
  .grid-profile {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-profile .box-images {
    width: 150px;
    height: 150px;
  }
  /*Welcome Section*/
  .grid-welcome {
    display: none;
  }
  /*Name Section*/
  .grid-name {
    grid-column: 2/4;
    grid-row: 2/3;
    margin: 15px;
  }
  .grid-name .name-box h1 {
    font-size: 25px;
    margin: 0;
  }
  .grid-name .name-box p {
    font-size: 23px;
    margin: 0;
  }
  /*Contact Section*/
  .grid-contact {
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    position: relative;
  }
  #btn-contact {
    width: 64%;
    height: 26%;
    position: absolute;
    bottom: 20px;
    left: 15px;
    margin: 0;
  }
  #btn-contact p {
    font-size: 15px;
  }
  /*Portfolio Section*/
  .grid-portfolio {
    grid-column: 1/4;
    grid-row: 3/5;
    margin: 0;
  }
  .portfolio-project {
    top: 10px;
  }
  .portfolio-project li {
    width: 32.5%;
    height: 48%;
  }
  .portfolio-project li img {
    width: 100%;
    height: 55%;
    background-color: aquamarine;
  }
  .portfolio-project li p {
    height: 35%;
    font-size: 15px;
  }
  /*More Contact Section*/
  .grid-more-contact {
    grid-row: 5/6;
    grid-column: 1/4;
  }
  .grid-more-contact h2 {
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }
  .more-contact {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 15px;
  }
  .more-contact .img-more-logo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 2%;
    margin-right: 8%;
  }
  #skills {
    font-size: 13px;
    line-height: 17px;
    margin-right: 25px;
  }
  #experiences {
    font-size: 10px;
    line-height: 14px;
  }
}
